:root{
	background: rgb(0, 0, 0);
	
}


/* Banner */



.banner h1 {
	font-family: Oswald;
	font-size:70px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin-top: 110px;
	text-shadow: black 2px 2px 10px;
	margin-bottom: 50px;
}






/* Combos de Petiscos */

.petiscos h2 {
	margin-top: 75px;
	font-family: Oswald;
	font-size: 45px;
	text-align: center;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
}

.petiscos p {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size: 30px;
	color: #f7f7f7;
	text-transform: uppercase;
	text-align: center;
}

.combo {
	
	margin-left: auto;
	margin-right: auto;
	width: auto;
    height: auto;

}

.combo li {
	font-family: Lato;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: black;
	line-height: 50px;
	margin-bottom: 10px;

}

.combo img{
   -webkit-transition: -webkit-transform .5s ease;
   transition: transform .5s ease;
}

.combo img:hover{
   -webkit-transform: scale(1.1);
   transform: scale(1.1);
}

.combo h3 {
	background: hsl(0, 0%, 0%);
	color: white;
	font-weight: bold;
}

.combo p{
	font-family: Lato;
	font-size: 12px;
	line-height: 30px;
	margin-bottom: 15px;
	color: black;
	text-transform: initial;
	text-align: center;
	margin-left: auto;
    margin-right: auto;  

}

.combo h4 a {
	background-color: #000000;
	padding:autox;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 150px;
}

.combo h4 a:hover {
	background-color: hsl(0, 0%, 0%);
	color: white;
	transition: 0.8 all;
}

/* Pirão */ 








/* Rodapé */

.footer {
	width: 100%;
	height: 60px;
	background: #000000;
}

.footer h3 {
	display: block;
	color: white;
	text-align: center;
	line-height: 50px;
	text-decoration: none
	 
}



/* estrutura app          */

.compra{
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
text-align: center;

}




.logo{
display: block;
margin-left: auto;
margin-right: auto;
width: fit-content;
height: -50px;
text-align: center;
background-size: 300px 150px;

}

.app-1{
margin-left: auto;
margin-right: auto;
width:  -50px;
height: -50px;
margin: 10px;
text-align: center;
background-size: 300px 150px;




} 



